<div class="form-inputs col-sm-10 offset-sm-1 col-xl-6 offset-xl-3 p-x-0">
  <p></p>
  <h2 class="Display-4 text-center p-x-1">編輯運補人員名冊</h2>
  <hr>

  <%= render 'form', transportation: @transportation %>

</div>
