<div class="crearfix">
  <div class='nested-fields'>
      <%= f.input :item, label:'項目' %>
      <%= link_to_remove_association "移除此項", f , type: "button", class: "btn btn-sm btn-danger"%>

  </div>
</div>
