<footer class="footer" style="margin-top: 100px; padding: 20px;">
  <div class="col-xs-12"></div>
    <p class="text-xs-center text-muted m-b-0" style="font-size: 14px">Copyright ©2016 東吉管理站<br>-數位化業務系統2.7.12版-</p>
  </div>
</footer>
